= form_for @department, :html => { :class => 'bp' } do |f|
  -if @department.errors.any?
    #error_explanation
      %h2= "#{pluralize(@department.errors.count, "error")} prohibited this department from being saved:"
      %ul
        - @department.errors.full_messages.each do |msg|
          %li= msg

  %p
    = f.label :name
    %br
    = f.text_field :name
  .actions
    = f.submit 'Сохранить'
    = link_to 'Отмена', departments_path
