= form_for @income do |f|
  -if @income.errors.any?
    #error_explanation
      %h2= "#{pluralize(@income.errors.count, "error")} prohibited this income from being saved:"
      %ul
        - @income.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :date
    = f.date_select :date
  .field
    = f.label :department
    = collection_select :income, :department_id, @departments, :id, :name
  .field
    = f.label :supplier
    = f.text_field :supplier
  .field
    %table
      %tr
        %th Наименование
        %th Количество
        %th Цена
      = f.fields_for :income_items do |nf|
        %tr
          %td
            = nf.select(:product_id, @product_options, { :include_blank => true }, :class => 'product_select')
          %td= nf.text_field :amount, :size => 5
          %td= nf.text_field :price, :size => 10
  .actions
    = f.submit 'Save'
