= nested_form_for @income, :html => { :class => 'bp' } do |f|
  -if @income.errors.any?
    #error_explanation
      %h2= "#{pluralize(@income.errors.count, "error")} prohibited this income from being saved:"
      %ul
        - @income.errors.full_messages.each do |msg|
          %li= msg

  %p
    = f.label :date
    %br
    = f.date_select :date
  %p
    = f.label :department
    %br
    = collection_select :income, :department_id, @departments, :id, :name
  %p
    = f.label :supplier
    %br
    = f.text_field :supplier
  %p
    .fields_header
      %span
        %b Наименование
      %span
        %b Количество
      %span
        %b Цена
    = f.fields_for :income_items
    = f.link_to_add 'Добавить позицию', :income_items
  %br
  .actions
    = f.submit 'Сохранить'
    = link_to 'Отмена', incomes_path
