- if can?(:manage, @income)
  = link_to 'Изменить', edit_income_path(@income)
  = link_to 'Удалить', @income, :method => :delete, :confirm => 'Удалить?'

%table
  %tr
    %th Наименование
    %th Количество
    %th Цена
  - @income.income_items.each do |i|
    %tr
      %td= i.product.name
      %td= i.amount
      %td= i.price
