.fr= link_to 'Внести приход', new_income_path if can?(:manage, Income)
%h1 Приходы

%table.data_table.display
  %thead
    %tr
      %th Дата
      %th Подразделение
      %th Поставщик
      %th Сотрудник
  %tbody
    - @incomes.each do |income|
      %tr{ 'data-url' => income_path(income) }
        %td= income.date
        %td= income.department.name
        %td= income.supplier
        %td= income.user.name

.data_item