%p#notice= notice

%p
  %b Date:
  = @income.date
%p
  %b Department:
  = @income.department
%p
  %b Supplier:
  = @income.supplier

= link_to 'Edit', edit_income_path(@income)
\|
= link_to 'Back', incomes_path
