= form_for @category, :html => { :class => 'bp' } do |f|
  -if @category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@category.errors.count, "error")} prohibited this category from being saved:"
      %ul
        - @category.errors.full_messages.each do |msg|
          %li= msg

  %p
    = f.label :parent_id
    %br
    = f.select :parent_id, category_options_tree(Category.arrange, @category.parent_id), :include_blank => true
  %p
    = f.label :name
    %br
    = f.text_field :name
  .actions
    = f.submit 'Сохранить'
    = link_to 'Отмена', categories_path
