= form_for @product do |f|
  -if @product.errors.any?
    #error_explanation
      %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :num
    = f.text_field :num
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :category
    = f.select :category_id, category_options_tree(Category.arrange, @product.category_id)
  .field
    = f.label :description
    = f.text_area :description, :rows => 2
  .actions
    = f.submit 'Сохранить'
    = link_to 'Отмена', products_path
