= form_for @product, :html => { :class => 'bp' } do |f|
  -if @product.errors.any?
    #error_explanation
      %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg

  %p
    = f.label :num
    %br
    = f.text_field :num
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :category
    %br
    = f.select :category_id, category_options_tree(Category.arrange, @product.category_id)
  %p
    = f.label :description
    %br
    = f.text_field :description
  .actions
    = f.submit 'Сохранить'
    = link_to 'Отмена', products_path
