%table.data_table.display
  %thead
    %tr
      %th Номер
      %th Наименование
      %th Описание
      - if can?(:manage, Product)
        %th
        %th
  %tbody
    - @products.each do |product|
      %tr
        %td= product.num
        %td= product.name
        %td= product.description
        - if can?(:manage, Product)
          %td= link_to 'Изменить', edit_product_path(product)
          %td= link_to 'Удалить', product, :confirm => 'Удалить?', :method => :delete
