= form_for @user, :url => url do |f|

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :password
    = f.password_field :password
  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  %fieldset.field
    %legend Права доступа
    - User::PERMISSIONS.each do |p, name|
      = check_box_tag "user[permissions][]", p, @user.has_permission?(p)
      = name
      %br/
    = hidden_field_tag "user[permissions][]", ""
  .actions
    = f.submit 'Сохранить'
    = link_to 'Отмена', company_users_path
